name: Run tests and upload coverage

on:
  - push
  - workflow_dispatch

jobs:
  test:
    name: Run tests and collect coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install pytest pytest-cov flake8 coveralls

      - name: Install tiredize
        run: pip install -e .

      - name: Lint with flake8
        run: |
          flake8 tiredize tests

      - name: Run tests
        run: |
          pytest --cov=./ --cov-report=xml

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          fail-on-error: false
