name: Publish to TestPyPI

on:
  push:
    tags:
      - "v*"

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install build and test dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build pytest

      - name: Install tiredize in editable mode
        run: |
          python -m pip install -e .

      - name: Run tests
        run: |
          pytest

      - name: Build distributions
        run: |
          python -m build

      - name: pypi-publish
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          repository-url: https://test.pypi.org/legacy/
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
